@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

:root {
  --radius: 0.7rem;
}

@layer base {
  * {
    @apply border-border dark:border-border-dark;
  }

  body {
    @apply bg-background text-foreground dark:bg-background-dark dark:text-foreground-dark;
  }
}
